html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5885AF;
    color: #C3E0E5;
    font-family: 'Font Name', lato;
}

#logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #41729F;
    border-radius: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#loginform {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

@media (min-width: 575px) {
    .item1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .item2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .item3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .btn {
    background-color: #3C618E;
    border: 0;
    border-radius: 10px;
    padding: 1%;
    color: #C3E0E5;
    grid-column-start: 1;
    grid-column-end: 3;
    }
}

@media (max-width: 575px) {
    .item1 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .item2 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item3 {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item4 {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .btn {
        background-color: #3C618E;
        border: 0;
        border-radius: 10px;
        padding: 1%;
        color: #C3E0E5;
        grid-column-start: 1;
        grid-column-end: 2;
        }
}

.inputbox {
    border: 0;
    border-radius: 10px;
    background-color: #3C618E;
    color: #C3E0E5;
}